h1 { padding: .2em; margin: 0; }

ul{list-style-type:none; width:15em;}
ul li{ border:1px solid blue; margin:.2em; border-radius:5em; text-align:center; padding:.2em 4em;}
ul li:hover, ul li:focus, ul li:active{ opacity:.5;}

#listenerList li{background:red;}
#waitingList li{background:orange;}
#speakerList li{background:green;}

input[type='button'] {
    background:LightBlue; 
    border:1px solid blue; 
    margin:.2em; 
    border-radius:2px; 
    text-align:center; 
    padding:.2em 4em;
}